extends layout

block content
  div.container
    div.jumbotron
      h1 WishMore
      p Make a wish and share with others from around the world.
      div.floatThis
        a.spaceNeeded.btn.btn-primary.btn-lg(href='/bulletinboard/wishes') View Wishes
        a.btn.btn-primary.btn-lg(href='/bulletinboard/newwish') Make a Wish
