doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href= '/stylesheets/bootstrap.css')
  body
    nav.navbar.navbar-default
      div.container-fluid
        div.navbar-collapse#bs-example-navbar-collapse-1
          ul.nav.navbar-nav
            li
              a(href='/bulletinboard') Home
            li
              a(href='/bulletinboard/newwish') New Wish
            li
              a(href='/bulletinboard/wishes') Wishes
            li.brandName WishMore 
            img.logo(src='https://d30y9cdsu7xlg0.cloudfront.net/png/104431-200.png')
    block content
